/* src/components/App/App.css */
body {
  background-color: #f2f2f2;
}

.top {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: white;
  box-shadow: rgba(242, 242, 242) 1px 2px 3px;
}

.navbutton {
  border-radius: 5px;
  background-color: #f2f2f2;
  border: none;
  padding: 6px;
  margin: 10px;
  cursor: pointer;
  font-size: 10px;
}

.favorites-dropdown {
  position: absolute;
  top: 37%;
  right: 0;
  background-color: #d4d4d4;
  box-shadow: rgba(242, 242, 242) 1px 2px 3px;
  padding: 10px;
  margin-top: 5px;
  z-index: 1;
}

.favorites-dropdown div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.favorites-dropdown button {
  border-radius: 5px;
  background-color: #f2f2f2;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 10px;
}

.populate-message {
  padding: 6px;
  margin: 10px;
  font-size: 1vw;
}

.app {
  margin: 2% 3%;
}

.app-header {
  background-color: white;
  position: relative;
}

.app-header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  height: auto;
  margin-top: 10px;
}

input[type="text"] {
  width: 200%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 100px;
  font-size: 1vw;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type="text"]:focus {
  border: solid 1px;
  outline: solid 4px #82d7f7;
}

main {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 5%;
}

main form {
  width: 70%;
  display: flex;
  justify-content: center;
}
